

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-splashscreen-test"
      version="2.1.1-dev">
    <name>Splashscreen</name>
    <description>Cordova Splashscreen Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,splashscreen</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320653</issue>

    <engines>
        <engine name="cordova-android" version=">=3.6.0" /><!-- Requires CordovaPlugin.preferences -->
    </engines>

    <js-module src="www/splashscreen.js" name="SplashScreen">
        <clobbers target="jsplashscreen" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SplashScreen">
                <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/SplashScreen.java" target-dir="src/org/apache/cordova/splashscreen" />
    </platform>

   

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="SplashScreen">
			    <param name="ios-package" value="CDVSplashScreen"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

        <header-file src="src/ios/CDVSplashScreen.h" />
        <source-file src="src/ios/CDVSplashScreen.m" />

	    <framework src="CoreGraphics.framework" />
    </platform>

</plugin>
